/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  overflow-x: hidden;
}
.navbar {
  height: 80px; /* Increase the height */
}
.navbar-brand {
  font-size: 1.5rem; /* Increase brand font size */
  margin-right: 2rem; /* Add space between brand and navigation items */
}
.navbar-nav .nav-link {
  margin-top: 5px;
  font-size: 1.2rem; /* Increase navigation link font size */
  padding-right: 1.5rem; /* Add space between links */
}
a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.89);
}

.tm-bg-white-transparent {
  background-color: rgba(36, 36, 36, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-item::after {
  content: ' ';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ccc;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item-left {
  left: 0;
}

.timeline-item-right {
  left: 50%;
}

.timeline-item-content {
  padding: 20px 30px;
  background-color: #ffffff00;
  position: relative;
  border-radius: 6px;
}

.timeline-item-content h3 {
  margin-top: 0;
}

.timeline-item-left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline-item-right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-item-right::after {
  left: -16px;
}

@media screen and (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }
  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline-item-left,
  .timeline-item-right {
    left: 0%;
  }
  .timeline-item-left::before,
  .timeline-item-right::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .timeline-item-right::after {
    left: 18px;
  }
}
.tm-brand-container-outer {
  margin-top: -100px;
}

.tm-brand-container-inner {
  max-width: 1200px;
  margin-top: -250px;
  width: 100%;
}

.tm-brand-container {
  padding: 55px 15px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #8fc9f0;
  padding: 80px 43px 70px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  padding: 70px 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: rgb(111, 110, 110);
  padding: 54px 34px 44px;
}

.tm-contact-item:last-child {
  margin-right: 0;
}

.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 680px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #4f4e4e;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #7c7b7b;
}

.tm-copyright-text {
  margin-bottom: 30px;
}

.tm-link {
  color: #363636;
}

@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
  }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}
